# Option to choose between local and production

# Data base production
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=
NODE_ENV=

# Data base local
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=
NODE_ENV=


# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# EXP TIME TOKEN
JWT_EXPIRE_IN=
JWT_REFRESH_EXPIRE_IN=

# OPENWEATHER
API_CLIMA=

# SWAGGER URL
ENDPOINT_SWAGGER=
BASE_URL=

# FIREBASE 
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CREDENTIALS=